<form [formGroup]="postForm" (ngSubmit)="updatePostProfile()">
  <div class="text-left">
    <label>content</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="content" id="exampleInput Content"
           placeholder="name">
  </div>
  <div class="text-left">
    <label>time</label>
  </div>
  <div class="form-group">
    <input type="datetime-local" class="form-control" formControlName="time" id="exampleInput Time"
           placeholder="name">
  </div>
  <div class="text-left">
    <label>title</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="title" id="exampleInput Title"
           placeholder="name">
  </div>
  <tr>
    <td> </td>
    <td>
      <select  formControlName="modeId">
<!--        <option [value]="post?.mode?.id">{{post?.mode?.name}}</option>-->
        <option *ngFor="let title of models" [value]="title.id">
          {{title.name}}</option>
      </select></td>
  </tr>

  <button type="submit" class="btn btn-outline-primary">cập nhật</button>
<!--  <button type="button" class="btn btn-outline-primary" (click)="delete()">xóa</button>-->
</form>

